In [7]:
import pandas as pd
from sqlalchemy import create_engine,text
import urllib.request
import gzip, shutil
from time import time

In [ ]:
#magic commands
%load_ext sql

In [8]:
my_location = r'C:\\temp\\'
url_taxi = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"
gz_file_path_taxi = f"{my_location}/green_tripdata_2019-10.csv.gz"
csv_file_path_taxi = f"{my_location}/green_tripdata_2019-10.csv"
csv_file_path_zone_lookup = f"{my_location}/taxi_zone_lookup.csv"
url_zone_lookup = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [9]:
# urllib.request.urlretrieve(url_zone_lookup, csv_file_path_zone_lookup)
urllib.request.urlretrieve(url_taxi, gz_file_path_taxi)

('C:\\\\temp\\\\/green_tripdata_2019-10.csv.gz',
 <http.client.HTTPMessage at 0x1cd2d78ff50>)

In [10]:
with gzip.open(gz_file_path_taxi, 'rb') as f_in:
    with open(csv_file_path_taxi, 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
connection = engine.connect()

In [13]:
connection.execute(text("DROP TABLE IF EXISTS taxi_zone_lookup;"))
connection.execute(text("DROP TABLE IF EXISTS green_taxi_trips;"))
connection.commit()

In [14]:
df_iter = pd.read_csv(csv_file_path_taxi \
            , iterator=True,chunksize=100000)

In [15]:
is_first = True

for chunk in df_iter:
    chunk.lpep_pickup_datetime = pd.to_datetime(chunk.lpep_pickup_datetime)
    chunk.lpep_dropoff_datetime = pd.to_datetime(chunk.lpep_dropoff_datetime)
    
    chunk.to_sql(
        name='green_taxi_data',
        con=connection,
        if_exists='replace' if is_first else 'append',
        index=False
    )
    
    is_first = False

C:\Users\igorg\AppData\Local\Temp\ipykernel_18836\2438223462.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_iter:

In [16]:
df_iter = pd.read_csv(csv_file_path_zone_lookup \
            , iterator=True,chunksize=100000)

In [17]:

is_first = True

for chunk in df_iter:
    
    chunk.to_sql(
        name='taxi_zone_lookup',
        con=connection,
        if_exists='replace' if is_first else 'append',
        index=False
    )
    
    is_first = False

In [ ]:
query = """

SELECT 
    COUNT(CASE WHEN trip_distance <= 1 THEN 1 END) as up_to_1_mile,
    COUNT(CASE WHEN trip_distance > 1 AND trip_distance <= 3 THEN 1 END) as between_1_3_miles,
    COUNT(CASE WHEN trip_distance > 3 AND trip_distance <= 7 THEN 1 END) as between_3_7_miles,
    COUNT(CASE WHEN trip_distance > 7 AND trip_distance <= 10 THEN 1 END) as between_7_10_miles,
    COUNT(CASE WHEN trip_distance > 10 THEN 1 END) as over_10_miles
FROM taxi_trips
WHERE 
    pickup_datetime >= '2019-10-01' 
    AND pickup_datetime < '2019-11-01';

SELECT count( case when )
FROM public.green_taxi_data
WHERE lpep_pickup_datetime::date between'2019-09-01'
AND lpep_dropoff_datetime::date = '2019-09-18'
"""

result = pd.read_sql_query(query, engine)
print(f"""
      During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:
        Up to 1 mile
        In between 1 (exclusive) and 3 miles (inclusive),
        In between 3 (exclusive) and 7 miles (inclusive),
        In between 7 (exclusive) and 10 miles (inclusive),
        Over 10 miles
        {result}""")

      During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:
        Up to 1 mile
        In between 1 (exclusive) and 3 miles (inclusive),
        In between 3 (exclusive) and 7 miles (inclusive),
        In between 7 (exclusive) and 10 miles (inclusive),
        Over 10 miles
           count
0      0

In [37]:
query = """
select 
    count(case when trip_distance <= 1 then 1 end) as up_to_1_mile,
    count (case when trip_distance > 1 and trip_distance <= 3 then 1 end) as between_1_3_miles,
    count (case when trip_distance > 3 and trip_distance <= 7 then 1 end) as between_3_7_miles,
    count (case when trip_distance > 7 and trip_distance <= 10 then 1 end) as between_7_10_miles,
    count (case when trip_distance > 10 then 1 end) as over_10_miles

from public.green_taxi_data

"""

result = pd.read_sql_query(query, engine)
print(f"""
      During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:
        Up to 1 mile
        In between 1 (exclusive) and 3 miles (inclusive),
        In between 3 (exclusive) and 7 miles (inclusive),
        In between 7 (exclusive) and 10 miles (inclusive),
        Over 10 miles
        {result}""")

      During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:
        Up to 1 mile
        In between 1 (exclusive) and 3 miles (inclusive),
        In between 3 (exclusive) and 7 miles (inclusive),
        In between 7 (exclusive) and 10 miles (inclusive),
        Over 10 miles
           up_to_1_mile  between_1_3_miles  between_3_7_miles  between_7_10_miles  \
0        104838             199013             109645               27688

   over_10_miles
0          35202

In [40]:
query = """
SELECT lpep_pickup_datetime::date
from public.green_taxi_data
order by trip_distance desc
limit 1
"""

result = pd.read_sql_query(query, engine)
print(f"Which was the pick up day with the longest trip distance? \n {result}")

Which was the pick up day with the longest trip distance?
   lpep_pickup_datetime
0           2019-10-31

In [ ]:


query = """
SELECT "Zone"--,sum(total_amount) as total_amount
FROM public.green_taxi_data gtd
LEFT JOIN public.taxi_zone_lookup tzl
ON gtd."PULocationID" = tzl."LocationID"
where 1=1 
and
"lpep_pickup_datetime"::date = '2019-10-18'
group by "Zone"
having sum(total_amount) > 13000
"""

result = pd.read_sql_query(query, engine)
print(f"Three biggest pickup zones \n {result}")

Three biggest pickup zones
                   Zone
0    East Harlem North
1    East Harlem South
2  Morningside Heights

In [48]:
query = """
SELECT tzl_dropoff."Zone" --,gtd.tip_amount
FROM public.green_taxi_data gtd
LEFT JOIN public.taxi_zone_lookup tzl
ON gtd."PULocationID" = tzl."LocationID"
LEFT JOIN public.taxi_zone_lookup tzl_dropoff
ON gtd."DOLocationID" = tzl_dropoff."LocationID"
WHERE gtd.lpep_pickup_datetime::date BETWEEN '2019-10-01' AND '2019-10-30'
AND tzl."Zone" = 'East Harlem North'
order by gtd.tip_amount desc
limit 1
"""

result = pd.read_sql_query(query, engine)
print(f"Largest tip \n {result}")

Largest tip
           Zone
0  JFK Airport